// base imports
@import "common/normalized";
@import "common/mixins/mixin";
@import "ui";

// if we use svgSprite
@import "../../build/img/svg-sprite-template";

// include fonts
@include font-face('HeliosCond', '../fonts/HeliosCond-Regular/HeliosCond-Regular', 400, normal, woff2 woff);
@include font-face('HeliosCond', '../fonts/HeliosCond-Bold/HeliosCond-Bold', 700, normal, woff2 woff);

//***************************************
// Support
//***************************************
.hide,
.slick-slide .hide {
  @extend %hide;
}

.hidden {
  @extend %hidden;
}

//***************************************
// Layout
//***************************************

.l-html, .l-body {
  height: 100%;
}

.l-body {
  font-family: 'HeliosCond', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

//***************************************
// test spite (need remove)
//***************************************
.apple {
  background: url('../img/sprite/apple.png') 0 0 no-repeat;
  width: em(92px);
  height: em(111px);
  @include retina() {
    background-image: url('../img/sprite/apple@2x.png')
  }

  &.style--add-zoom {
    font-size: 30px;
  }
}

.audi {
  background: url('../img/sprite/audi.png') 0 0 no-repeat;
  width: em(150px);
  height: em(88px);
  @include retina() {
    background-image: url('../img/sprite/audi@2x.png')
  }
}

//***************************************
// test svg sprite
//***************************************
[class*=svg-ico] use {
  @extend %tr-all;
}
.svg-ico-heart {
  &.style--add-zoom {
    font-size: 30px;
  }
  &.style--add-zoom2 {
    font-size: 60px;
  }
  &:hover {
    use {
      fill: red;
    }
  }
}

.svg-ico-build {
  &.style--add-zoom {
    font-size: 30px;
  }
  &.style--add-zoom2 {
    font-size: 60px;
  }
  &:hover {
    use {
      fill: green;
    }
  }
}
